@charset "UTF-8";

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  margin: 15px auto 0;
}

/* #mask,
#modal {
  -webkit-animation: fadeIn 1s linear;
} */

/* #mask.hidden,
#modal.hidden {
  display: none;
  opacity: 0;
  -webkit-animation: fadeOut 10s linear;
} */

#mask {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

#modal p {
  line-height: 1.5;
  margin: 0 0 20px;
}

/************ fadein *************/
#mask,
#modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
}

/************ fadeout *************/
#mask.show,
#modal.show {
  opacity: 1;
  visibility: visible;
}
